[submodule "patterns"]
	path = patterns
	url = https://github.com/iluwatar/java-design-patterns.git
[submodule "30-seconds-of-java"]
	path = 30-seconds-of-java
	url = https://github.com/iluwatar/30-seconds-of-java.git
