<div class="alignleft container" style="padding-bottom: 25px;">
    <script type="text/javascript">
        amzn_assoc_ad_type = "banner";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_placement = "assoc_banner_placement_default";
        amzn_assoc_campaigns = "kindle";
        amzn_assoc_banner_type = "category";
        amzn_assoc_isresponsive = "true";
        amzn_assoc_banner_id = "1TC354VDT7K8N1C85H82";
        amzn_assoc_tracking_id = "javadesignpat-20";
        amzn_assoc_linkid = "30395615a74193080c6d87f07469f770";
    </script>
    <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
</div>
<div class="alignleft container" style="padding-bottom: 25px;">
    <script type="text/javascript">
          amzn_assoc_ad_type = "banner";
   amzn_assoc_marketplace = "amazon";
   amzn_assoc_region = "US";
   amzn_assoc_placement = "assoc_banner_placement_default";
   amzn_assoc_campaigns = "gift_certificates";
   amzn_assoc_banner_type = "category";
   amzn_assoc_isresponsive = "true";
   amzn_assoc_banner_id = "1G274HKHXM7QERC7YAG2";
   amzn_assoc_tracking_id = "javadesignpat-20";
   amzn_assoc_linkid = "e325361465075d6040e9667e3fdf383b";
    </script>
    <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
</div>