<div class="alignleft container" style="padding-bottom: 25px;">
    <script type="text/javascript">
        amzn_assoc_placement = "adunit0";
        amzn_assoc_tracking_id = "javadesignpat-20";
        amzn_assoc_ad_mode = "manual";
        amzn_assoc_ad_type = "smart";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_linkid = "5756b4450b3abedd097c5b3a8c464d10";
        amzn_assoc_design = "in_content";
        amzn_assoc_asins = "0134494164,1697271065,1617294543,1617294292,1617293563";
    </script>
    <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
</div>
